html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0px;
}

pre {
  overflow-x: auto;
}

.converter {
    height: 100%;
    margin-right: 260px;
    background-color: black;
}

.html-editor, .markdown-editor {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}

.markdown-editor {
   border: 1px solid #ccc;
   box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 14px;
    padding: 20px;
    box-sizing: border-box;
    resize: none;
}

.markdown-previewer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.error-message {
    background-color: rgba(255, 243, 102, 0.53);
    margin: 0;
    padding: 12px;
    color: red;
    font-size: 12px;
    font-style: italic;
}

.preview-toggle {
    position: absolute;
    top: 0;
    left: 20px;
    padding: 5px 10px;
    opacity: .5;
    border: 1px solid #ccc;
}

.preview-toggle:hover {
    opacity: 1;
}

aside {
    position: absolute;
    right: 0;
    top: 0;
    width: 260px;
    padding: 20px;
    box-sizing: border-box;
}
